.TodoEditor .editor_wrapper {
  width: 100%;
  display: flex;
  gap: 10px;
}

.TodoEditor input {
  flex: 1;
  box-sizing: border-box;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 5px;
  padding: 15px;
}

.TodoEditor input:focus {
  outline: none;
  border: 1px solid #8a8a8a;
}

.TodoEditor button {
  cursor: pointer;
  width: 80px;
  border: none;
  background-color: #585858;
  color: white;
  border-radius: 5px;
}

.TodoEditor button:hover{
    background-color: #272727;
    transition: ease-in-out 0.3s;
}