/* 할 일 아이템 박스 스타일 적용 */
.TodoItem {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(240, 240, 240);
  
}

/* 체크박스를 감싼 박스에 스타일 적용 */
.TodoItem .checkbox_col {
  width: 20px;
}

/* 할 일 텍스트를 감싼 박스에 스타일 적용 */
.TodoItem .title_col {
  flex: 1;
  text-align: left;
}

/* 할 일 아이템 등록 시간을 감싼 박스에 스타일 적용 */
.TodoItem .date_col {
  font-size: 14px;
  color: rgb(175, 175, 175);
}

/* 삭제 버튼에 스타일 적용 */
.TodoItem .btn_col button {
  cursor: pointer;
  color: #fff;
  font-size: 13px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  background-color: #505050;
  width: 40px;
}

.btn_col button:hover{
    background-color: #5e5d5d;
    transition: ease-in-out 0.3s;
}

input[type="checkbox"]{
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 18px;
  height: 18px;
  border: 2px solid #aaa;
  border-radius: 4px;
  cursor: pointer;
  background: white;
  position: relative;
}

/* 체크됐을 때 스타일 */
input[type="checkbox"]:checked {
  background-color: #505050;
  border-color: #505050;
}

/* 체크 마크(브이) 만들기 */
input[type="checkbox"]:checked::after {
  content: "✔";
  color: white;
  font-size: 14px;
  position: absolute;
  top: -2px;
  left: 1px;
}
